.item-card{
    width: 100%;
    border-radius: 5px;
    border: .5px solid gray;
}
.item-card__item-image{
    width: 100%;
}
.item-card__info-container{
    padding: 1.05rem;
}
.item-card__item-name{
    padding-bottom: .2rem;
}
.item-card__item-price{
    font-weight: 700;
}