.main-container{
    width: 100%;
    display: flex;
}
.item-details-container{
    width: 80%;
    padding: 1rem 1rem 0rem 1rem;
}
.item-details{
    display: flex;
}
.item-details__image-column{
    width: 50%;
}
.item-details__image{
    width: 100%;
}
.item-details__info-column{
    width: 50%;
    text-align: center;
    padding: 1rem 0rem 0rem 2rem;
}
.item-details__item-name{
    font-size: 2.5rem;
   
}
.item-details__item-price{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(25, 24, 24);
}
.item-details__item-description{
    font-size: 1rem;
    color: rgb(25, 24, 24);
    margin-bottom: 1.5rem;
}
.item-details__item-specifications{
    text-align: left;
}
.item-details__item-specification{
    margin-bottom: 1rem;
}
.item-details__item-specifications-name{
    font-weight: 700;
    font-size: 1.1rem;
}
.item-details__item-specifications-name{
    font-size: 1.1rem;
}
.offers-container{
    width: 20%;
}




.add-offer{
    display: flex;
    margin-bottom: 2rem;
}
.add-offer__input{
    border: 1px solid gray;
    padding: .3rem;
    border-radius: 5px;
    flex: 2;
}
.add-offer__button{
    padding: .3rem;
    margin-left: .5rem;
    border-radius: 5px;
    border:unset;
    color: #ffff;
    background-color: rgb(140, 249, 6);
    font-weight: 700;
}



.offer{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin: 1rem 0rem;
}
.offer__buyer{
    display: flex;
    align-items: center;
}
.offer__buyer-image{
    width: 42px;
    height: 42px;
    margin-right: .7rem;
}
.offer__ammount-container{
    text-align: center;
    align-self: flex-end;
}
.offer__buyer-name, .offer__offer-placed-date, .offer__ammount{
    display: block;
}
.offer__buyer-name{
    color: rgb(29, 28, 28);
    font-size: .9rem;
}
.offer__offer-placed-date{
    font-size: .8rem;
}
.offer__ammount{
    font-weight:700;
}
.offer__btn{
    color: #ffff;
    border: unset;
    padding: .3rem 0rem;
    width: 6rem;
    font-weight: 700;
    border-radius: 5px;
    display: block;
}
.offer__btn--accept{
    background-color: rgb(138, 205, 70);
}

.offer__btn--reject{
    background-color: rgb(245, 41, 41);
}