.dashboard{
    max-width: 1000px;
    margin: auto;
}

.dashboard-panel-link-container{
    display: flex;
    text-align: center;
    padding: 1rem 0rem;
    border-bottom:1px solid #262927;
    margin-bottom: 1rem;
}
.dashboard-panel-link{
    flex: 1;
    color: #262927;
}





.search-field{
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border:1px solid #363131;
    border-radius: 5px;
}
.dashboard-card__block-input-field{
    padding: .5rem;
    border:1px solid #363131;
    border-radius: 5px;
    flex: 2;
}
.dashboard-card__block-form-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.--open{
    height: 40px;
}
.--closed{
    height: 0px;
    overflow: hidden;
}
.dashboard-card__block-confirm{
    align-self: stretch;
    border:unset;
    border-radius: 5px;
    width: 5rem;
    margin-left: 2rem;
    background-color: #05ed43;
    color: #ffff;
    
}







.administrator-item-card__container{
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 0px 0px 4px 2px #2b2c2c;
    border-radius: 5px;
}
.administrator-item-card{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.administrator-item-card__item-details{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: .1rem;
}
.item-administration-card__name{
    font-size: 1.2rem;
}
.item-administration-card__price{
    margin: 0% 2rem;
}
.administrator-item-card__owner{
    display: block;
    font-size: .9rem;
    color: #262927;
}
.administrator-item-card__added-date{
    font-size: .8rem;
    color: #262927;
}
.administrator-item-card__block-btn, .administrator-item-card__remove-btn{
    display: block;
    padding: .3rem .5rem;
    width: 100%;
    border:unset;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffff;
    
}
.administrator-item-card__remove-btn{
    background-color: #f71e1e;
    font-weight: 700;
    margin-bottom: .3rem;
}
.administrator-item-card__block-btn{
    background-color: #1AB8FB;
}



.user-report-card{
    border:1px solid #262927;
    padding: 1rem;
    border-radius: 5px;
}
.user-report-card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-report-card__arrow-down{
    font-size: 1.5rem;
}
.user-report-card__header-title{
    font-size: 1.5rem;
}
.user-report-card__content{
    border-top:1px solid #262927;
    padding-top: .5rem;
}
.user-report-card__content-header{
    font-size: .9rem;
}
.user-report-card__content-title{
    font-size: 1.2rem;
}
.user-report-card__content-details{
    font-size: .85rem;
}
.user-report-card__notifications{
    text-align: center;
}
.user-report-card__notifications-title{
    font-size: .8rem;
    display: block;
    margin-bottom: 1rem;
}
.user-report-card__notification-form{
    display: flex;
}
.user-report-card__notification-input-filed{
    flex: 2;
    padding: .5rem;
    resize: none;
}
.user-report-card__notification-button{
    padding: .5rem;
    background-color: #05ed43;
    border: none;
    margin-left: 1rem;
    color: #ffff;
    border-radius: 5px;
}





.user-admin-card{
    padding: 1.5rem .5rem;
}
.user-admin-card__details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-admin-card__details{
    display: flex;
    align-items: center;
}
.user-admin-card__profile-picture{
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}
.user-admin-card__informations span{
    display: block;
}
.user-admin-card__name{
    font-size: 1.5rem;
    font-weight: 700;
    color:#262927;
}
.user-admin-card__email, .user-admin-card__phone-number{
    font-size: .95rem;
    color:#262927;
}
.user-admin-card__btn{
    padding: .5rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: unset;
    color: #ffff;
    border-radius: 5px;
    display: block;
    width: 100%;
}
.user-admin-card__block-btn{
    background-color: #f71e1e;
    margin-bottom: .5rem;
}
.user-admin-card__notification-btn{
    background-color: #04cafc;
}